<footer class="site-footer__component grid">
    <div class="site-footer--logo-container">
        <div class="box-logo__component">
            <div class="box-logo--side box-logo--side-top"></div>
            <div class="box-logo--side box-logo--side-left"></div>
            <div class="box-logo--side box-logo--side-right"></div>
        </div>
    </div>
    <h5>Dylan Box</h5>
</footer>
