<header class="site-header__component grid grid-fixed">

    <div class="box-logo__component -pop-and-spin">
        <div class="box-logo--side box-logo--side-top"></div>
        <div class="box-logo--side box-logo--side-left"></div>
        <div class="box-logo--side box-logo--side-right"></div>
    </div>

    <h1>Dylan Box:</h1>
    <h2>Product Design & Development</h2>

</header>
