<a href="/work/{{ work.slug }}" class="work-preview__component">
    <figure class="work-preview--image-container">
        <img src="{{ work.featureImage }}" />
    </figure>
    <div class="work-preview--text-component">
        <h5>{{ work.title }}</h5>
        <P>{{ work.description }}</P>
    </div>
</a>
