{% extends 'site_base.njk' %}

{% block main %}
  <section class="about-section__component">
      <div class="grid grid-fixed">
          <header>
              <h2>About</h2>
          </header>

          <article class="about-section--content">
              <p>I am a web developer and graphic designer working in Detroit. Typically, you'll find me working as a front- and back-end developer at <a href="//www.waymark.com">Waymark</a>, a startup that helps small businesses market themselves online. Otherwise, I work with non-profits and community organizations on branding and promotional events through my design studio, <a href="//www.wedgedetroit.com">Wedge Detroit.</a> I might also be hanging around <a href="//jointhelodge.com">The Lodge</a>, where I run a studio dedicated to providing artists with flexible, affordable studio space.</p>

              <div class="about-section--skills-container">
                  <h4>Design & Development Skills</h4>
                  <ul class="about-section--skills">
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>Javascript</li>
                      <li>Python</li>
                      <li>PHP</li>
                      <li>Illustrator</li>
                      <li>Photoshop</li>
                      <li>CAD & 3D Modeling</li>
                  </ul>
              </div>

              <div class="about-section--links">
                <a href="https://github.com/dylanbox"><i class="fa fa-github"></i></a>
                <a href="https://twitter.com/dylanboxalot"><i class="fa fa-twitter"></i></a>
              </div>
          </article>
      </div>
  </section>

  <section class="work-list__component">
      <header class="grid grid-fixed">
          <h2>Work</h2>
      </header>

      <ul class="work-list--list-container">
        {% for work in works %}
          <li class="work-list--work-container {{ 'work-list--work-container-large' if work.isLargePreview }}">
              {% include 'components/_work_preview.njk' %}
          </li>
        {% endfor %}
      </ul>
  </section>
{% endblock main %}
