<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Dylan Box: Product Design & Development</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/dist/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Biryani:900|Roboto:300,700" rel="stylesheet">
    </head>
    <body>
        {% include "components/_site_header.njk" %}
        <main class="site-main__component">
            {% block main %}
            {% endblock main %}
        </main>
        {% include "components/_site_footer.njk" %}
    </body>
</html>
